.s_navbar{
    color: #fff;
    width: 90%;
    margin: 0 auto;
    background-color: #26820f;
}
.spring{
    width: 70%;
    margin: 0 auto;
}
.ar{
    width: 90%;
    margin: 0 auto;
}
.ar h1{
    text-align: center;
}
.ar p{
    line-height: 50px;
    font-size: 18px;
}
#lichun{
    display: none;
}
#yushui{
    display: none;
}
#jingzhe{
    display: none;
}
#chunfen{
    display: none;
}
#qingming{
    display: none;
}
#guyu{
    display: none;
}
#lixia{
    display: none;
}
#xiaoman{
    display: none;
}
#mangzhong{
    display: none;
}
#xiazhi{
    display: none;
}
#xiaoshu{
    display: none;
}
#dashu{
    display: none;
}
#liqiu{
    display: none;
}
#chushu{
    display: none;
}
#bailu{
    display: none;
}
#qiufen{
    display: none;
}
#hanlu{
    display: none;
}
#shuangjiang{
    display: none;
}
#lidong{
    display: none;
}
#xiaoxue{
    display: none;
}
#daxue{
    display: none;
}
#dongzhi{
    display: none;
}
#xiaohan{
    display: none;
}
#dahan{
    display: none;
}